<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.daycount_downer">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_new_cusotome"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_cusotome_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DayCountdowner"
        tools:targetApi="31">
        <activity
            android:name=".dateAndTimePicker"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:noHistory="true"/>
        <activity
            android:name=".settingsPage"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".EntrancePage"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>